@page "/empleados/editar/{EmpleadoId:int}"

@if(empleado is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="oi oi-person"></i> Editar datos del empleado
            </span>
        </div>

        <div class="card-body">
            <EmpleadoForm @ref="empleadoForm" Empleado="empleado" OnValidSubmit="GuardarAsync" ReturnAction="Regresar" />
        </div>
    </div>
}