@page "/empleados"

@if(Empleados is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card">
        <div class=" card-header">
            <span>
                <i class="oi oi-person"></i> Catálogo de empleados
                <a class="btn btn-sm btn-primary float-end" href="/empleados/nuevo"><i class="oi oi-plus"/> Nuevo</a>
            </span>
        </div>

        <div class=" card-body">
            <div class="mb-2" style="display:flex; flex-wrap:wrap; align-items:center;">
                @* TODO: PENDIENETE IMPLEMENTAR BOTONES DE FILTRADO Y PAGINACIÓN *@
            </div>

            <ListaGenerica ListaElementos="Empleados">
                <Body>
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th width="100">Clave</th>
                                <th width="300">Nombre</th>
                                <th width="300">Departamento</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var empleado in Empleados){
                                <tr>
                                    <td class="align-middle"><a href="/empleados/editar/@empleado.Id" style="text-decoration:none;">@empleado.CveEmpleado</a></td>
                                    <td class="align-middle">@empleado.Nombre</td>
                                    <td class="align-middle">@empleado.Departamento.Nombre</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </ListaGenerica>
        </div>
    </div>
}