@page "/departamentoEmpleados/{DepartamentoId:int}"

@if(empleados is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card">
        <div class="card-header">
            <span>
                <i class="oi oi-people" /> Personal asignado a
            </span>
            <p class="align-middle"><b>@departamento.Nombre.ToUpper()</b></p>
        </div>

        <div class="card-body">
            <ListaGenerica ListaElementos="empleados">
                <Body>
                    <table class="table table-striped">
                        <thead>
                            <tr class="text-center">
                                <th width="300">Número</th>
                                <th width="300">Nombre</th>
                                <th width="300">Estatus</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var empleado in empleados){
                                <tr>
                                    <td class="align-middle"><a style="text-decoration:none" href="/empleados/editar/@empleado.Id">@empleado.CveEmpleado</a></td>
                                    <td class="align-middle">@empleado.Nombre</td>
                                    <td class="align-middle">@empleado.Cancelo</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </ListaGenerica>
        </div>
    </div>
}