@page "/departamentos/editar/{DepartamentoId:int}"

@if(departamento is null)
{
    <p>Cargando...</p>
}
else
{
    <h3>Editar departamento</h3>

    <DepartamentoForm Departamento="departamento" OnValidSubmit="GuardarDepartamentoAsync" ReturnAction="Regresar"/>
}