<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"/>

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Nombre del rubro:</label>
            <div>
                <InputText class="form-control" @bind-Value="@Rubro.Nombre" />
                <ValidationMessage For="@(() => Rubro.Nombre)" />
            </div>
        </div>



    <button type="button">Agrear empleado</button>
    <button class="btn btn-success" type="submit"><i class="oi oi-check" /></button>
    <button type="button" class="btn btn-warning" @onclick="ReturnAction"><i class="oi oi-chevron-left" /></button>
</EditForm>