@page "/rubros/editar/{IdRubro:int}"

<h3>Editar Rubro</h3>

@if(rubro is null)
{
    <p>Cargando...</p>
}
else
{
    <RubroForm @ref="rubroForm" Rubro="rubro" OnValidSubmit="GuardarAsync" ReturnAction="Regresar"/>
}