@page "/UnidadesNegocio"

<h3>UnidadesNegocioIndex</h3>

@if(UnidadesNegocio is null)
{
    <p>Cargando...</p>
}
else
{
    <div class="card">
        <div class="card-header">

        </div>

        <div class="card-body">
            <ListaGenerica ListaElementos="UnidadesNegocio" >
                <Body>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td width="300">Clave</td>
                                <td width="300">Nombre</td>
                                <td width="300">Equipos</td>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach(var unidadNegocio in UnidadesNegocio){
                                <tr>
                                    <td class="align-middle">@unidadNegocio.Id</td>
                                    <td class="align-middle">@unidadNegocio.Nombre</td>
                                    <td class="align-middle"></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </ListaGenerica>
        </div>
    </div>
}